<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MEO - CENTRAL</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/full-slider.css" rel="stylesheet">

    <!-- Font added -->
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
        	<img class="img-fluid float-left" style="max-height: 50px" src="image/logo.png" alt="logo"> 
        	<p class="float-left" style="padding-left: 10px; margin-top: .6rem">MEO CENTRAL</p>
        </a>
        <!-- <img class="img-fluid navbar-brand" src="image/logo.png" alt="logo"> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"  aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">মুলপাতা
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">এমইও সম্পর্কে</a>
            </li>
            
            <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          সেবা
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">ভূমির সেবা</a>
		          <a class="dropdown-item" href="#">ফ্ল্যাট সেবা</a>
		          <a class="dropdown-item" href="http://103.239.254.232:8443/MEO/login.jsp">সেবার অনুরোধ</a>
		        </div>
		     </li>
		     <li class="nav-item">
              <a class="nav-link" href="file/form.pdf">ফর্ম</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ফ্ল্যাট</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
       <!--  <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('image/s-1.jpg')">
            <!-- <div class="carousel-caption d-none d-md-block">
              <h3>MEO</h3>
              <p>This is a description for the first slide.</p>
            </div> -->
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('image/s-2.jpg')">
           <!--  <div class="carousel-caption d-none d-md-block">
              <h3>MEO</h3>
              <p>This is a description for the second slide.</p>
            </div> -->
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('image/s-3.jpg')">
            <!-- <div class="carousel-caption d-none d-md-block">
              <h3>MEO</h3>
              <p>This is a description for the third slide.</p>
            </div> -->
          </div>
          <!-- Slide Fourth - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image:url('image/s-4.jpg')">
          	<!-- <div class="carousel-caption d-none d-md-block">
              <h3>MEO</h3>
              <p>This is a description for the third slide.</p>
            </div> -->
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <div class="body-content">
    
    <div class="container">
      	<div class="row">
          <div class="col-md-12"><h2 class="text-center main-work-title">Our Scope of work</h2></div>
      		<div class="col-md-4">
            <div class="dohs dohs-div-1">
      			<h3>Banani DOHS</h3>
      			<p>Total Land : 1000</p>
      			<p>Total Flat : 5000</p>
            </div>
      		</div>
      		<div class="col-md-4">
            <div class="dohs dohs-div-2">
      			<h3>Mirpur DOHS</h3>
      			<p>Total Land : 1000</p>
      			<p>Total Flat : 5000</p>
            </div>
      		</div>
      		<div class="col-md-4">
            <div class="dohs dohs-div-3">
      			<h3>Baridhara DOHS</h3>
      			<p>Total Land : 1000</p>
      			<p>Total Flat : 5000</p>
            </div>
      		</div>
        </div>
        <div class="row count-div">
          <div class="col-md-2"></div>
      		<div class="col-md-4">
            <div class="dohs dohs-div-1">
      			<h3>Mohakhali DOHS</h3>
      			<p>Total Land : 1000</p>
      			<p>Total Flat : 5000</p>
            </div>
      		</div>
          <div class="col-md-4">
            <div class="dohs dohs-div-2">
            <h3>Savar DOHS</h3>
            <p>Total Land : 1000</p>
            <p>Total Flat : 5000</p>
            </div>
          </div>
      	</div>
    </div>

   <!--  <div class="container">
        <div class="row">
            <div class="col-md-12">
          	 <h2 class="text-center main-work-title">How We Works</h2>
            </div>	
            
            <div class="offset-md-1 col-md-10">
            <div class="row">	
            	<div class="col-md-1">
	           		<h3 class="work-no">1</h3>
	           	</div>
	           	<div class="col-md-11">
		           	<div class="row work-div">	           		
		           		<div class="col-md-5">
		           			<p class="float-left"><i class="fas fa-hand-point-right fa-3x"></i></p>
		           			<p class="float-left h4 work-title-l">SERVICE REQUEST</p>
		           		</div>
		           		<div class="col-md-6">
		           			Submit your documents and quries from website 
		           		</div>
		           	</div>
	            </div>
	        </div>
            </div>
           
          
            <div class="offset-md-1 col-md-10">
            <div class="row">	
            	
	           	<div class="col-md-11">	
	           	  <div class="row work-div">
	           		<div class="col-md-7">
	           			Submit your documents and quries from website 
	           		</div>
	           		<div class="col-md-5">
	           			<p class="float-right"><i class="fas fa-hand-point-left fa-3x"></i></p>
	           			<p class="float-right h4 work-title-r">MEO OFFICE</p>
	           		</div>
	           	  </div>
	           	</div>
	           	<div class="col-md-1">
	           		<h3 class="work-no">2</h3>
	           	</div>

	           </div>
            </div>

           
            <div class="offset-md-1 col-md-10">
            <div class="row">	
            	<div class="col-md-1">
	           		<h3 class="work-no">3</h3>
	           	</div>
	           	<div class="col-md-11">
		           	<div class="row work-div">	           		
		           		<div class="col-md-5">
		           			<p class="float-left"><i class="fas fa-hand-point-right fa-3x"></i></p>
		           			<p class="float-left h4 work-title-l">ARMY HQ</p>
		           		</div>
		           		<div class="col-md-6">
		           			Submit your documents and quries from website 
		           		</div>
		           	</div>
	            </div>
	        </div>
            </div>

            

            <div class="offset-md-1 col-md-10">
            <div class="row">	
            	
	           	<div class="col-md-11">	
	           	  <div class="row work-div">
	           		<div class="col-md-7">
	           			Submit your documents and quries from website 
	           		</div>
	           		<div class="col-md-5">           			
	           			<p class="float-right"><i class="fas fa-hand-point-left fa-3x"></i></p>
	           			<p class="float-right h4 work-title-r">DMLC</p>
	           		</div>
	           	  </div>
	           	</div>
	           	<div class="col-md-1">
	           		<h3 class="work-no">4</h3>
	           	</div>

	           </div>
            </div>

            
            <div class="offset-md-1 col-md-10">
            <div class="row">	
            	<div class="col-md-1">
	           		<h3 class="work-no">5</h3>
	           	</div>
	           	<div class="col-md-11">
		           	<div class="row work-div">	           		
		           		<div class="col-md-5">
		           			<p class="float-left"><i class="fas fa-hand-point-right fa-3x"></i></p>
		           			<p class="float-left h4 work-title-l">CEO</p>
		           		</div>
		           		<div class="col-md-6">
		           			Submit your documents and quries from website 
		           		</div>
		           	</div>
	            </div>
	        </div>
            </div>
            
           

            <div class="offset-md-1 col-md-10">
            <div class="row">	
            	
	           	<div class="col-md-11">	
	           	  <div class="row work-div">
	           		<div class="col-md-7">
	           			Submit your documents and quries from website 
	           		</div>
	           		<div class="col-md-5">           		
	           			<p class="float-right"><i class="fas fa-hand-point-left fa-3x"></i></p>
	           			<p class="float-right h4 work-title-r">REGISTRY OFFICE</p>
	           		</div>
	           	  </div>
	           	</div>
	           	<div class="col-md-1">
	           		<h3 class="work-no">6</h3>
	           	</div>

	           </div>
            </div>


          

            <div class="offset-md-1 col-md-10">
            <div class="row">	
            	<div class="col-md-1">
	           		<h3 class="work-no">7</h3>
	           	</div>
	           	<div class="col-md-11">
		           	<div class="row work-div">	           		
		           		<div class="col-md-5">
		           			<p class="float-left"><i class="fas fa-hand-point-right fa-3x"></i></p>
		           			<p class="float-left h4 work-title-l">NOTIFICATION</p>
		           		</div>
		           		<div class="col-md-6">
		           			Submit your documents and quries from website 
		           		</div>
		           	</div>
	            </div>
	        </div>
            </div>

        </div>
    </div> -->
  <div class="service-flow">
    <div class="container">        
      <div class="row">
        <div class="col-md-12"><h2 class="text-center main-work-title">How We Works ?</h2></div>
        <div class="col-md-4">
          <h2 class="req-title">ARMY</h2>
          <div class="row">
            <div class="col-3">
              <h3 class="work-no">1</h3>
            </div>
            <div class="col-9">
              <a href="http://103.239.254.232:8443/MEO/landOwner/dashboard.jsp">Service Request</a>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">2</h3>
            </div>
            <div class="col-9">
              MEO Through ARMY HQ
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">3</h3>
            </div>
            <div class="col-9">
              CEO & MEO For Verification
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">4</h3>
            </div>
            <div class="col-9">
             DMLC For Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">5</h3>
            </div>
            <div class="col-9">
              DGFI For Verification
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">6</h3>
            </div>
            <div class="col-9">
              QMG For Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">7</h3>
            </div>
            <div class="col-9">
              MOD For Approval
            </div>
          </div>

        </div>

        <div class="col-md-4">
          <h2 class="req-title">NAVY</h2>
           <div class="row">
            <div class="col-3">
              <h3 class="work-no">1</h3>
            </div>
            <div class="col-9">
             <a href="http://103.239.254.232:8443/MEO/landOwner/dashboard.jsp">Service Request</a>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">2</h3>
            </div>
            <div class="col-9">
             NAVY HQ
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">3</h3>
            </div>
            <div class="col-9">
              MEO For Action
            </div>
          </div>

           <div class="row">
            <div class="col-3">
              <h3 class="work-no">4</h3>
            </div>
            <div class="col-9">
             Cantonment Board for Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">5</h3>
            </div>
            <div class="col-9">
             DMLC For Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">6</h3>
            </div>
            <div class="col-9">
              DGFI For Verification
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">7</h3>
            </div>
            <div class="col-9">
              QMG For Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">8</h3>
            </div>
            <div class="col-9">
              MOD For Approval
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h2 class="req-title">AIR</h2>
           <div class="row">
            <div class="col-3">
              <h3 class="work-no">1</h3>
            </div>
            <div class="col-9">
             <a href="http://103.239.254.232:8443/MEO/landOwner/dashboard.jsp">Service Request</a>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">2</h3>
            </div>
            <div class="col-9">
             AIR FORCE HQ
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">3</h3>
            </div>
            <div class="col-9">
              MEO For Action
            </div>
          </div>

           <div class="row">
            <div class="col-3">
              <h3 class="work-no">4</h3>
            </div>
            <div class="col-9">
             Cantonment Board for Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">5</h3>
            </div>
            <div class="col-9">
             DMLC For Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">6</h3>
            </div>
            <div class="col-9">
              DGFI For Verification
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">7</h3>
            </div>
            <div class="col-9">
              QMG For Approval
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <h3 class="work-no">8</h3>
            </div>
            <div class="col-9">
              MOD For Approval
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      	
    	<div class="row">
    		<div class="col-md-12">
    			<h3 class="text-center main-work-title">Citizen's Charter Rate</h3>
    		</div>
    		<div class="col-md-12">
    			<table class="table table-bordered table-hover">
    				<thead>
    					<tr>
    						<th>SL NO</th>
    						<th>SERVICE NAME</th>
    						<th>RATE</th>
    						<th>SERVICE PLACE</th>
    						<th>SERVICE TIME</th>

    					</tr>
    				</thead>
    				<tbody>
    					<tr>
    						<td>1</td>
    						<td>Land Registration</td>
    						<td>1000/-</td>
               	<td>Mirpur</td>
    						<td>30 days</td>
    					</tr>
    					<tr>
    						<td>2</td>
    						<td>Flat Registration</td>
                <td>100/-</td>
    						<td>Mirpur</td>
    						<td>30 days</td>
    					</tr>
              <tr>
                <td>3</td>
                <td>LAND TAX</td>
                <td>10000/-</td>
                <td>Mirpur</td>
                <td>30 days</td>
              </tr>
              <tr>
                <td>4</td>
                <td>INCOME TAX Per Sqr.Feet</td>
                <td>10000/-</td>
                <td>Mirpur</td>
                <td>30 days</td>
              </tr>
    				</tbody>
    			</table>
    		</div>
    	</div>

    </div>
</div>

    <!-- Footer -->
    <footer class="bg-dark footer">
      <div class="container">
      	<div class="row">
	      	<div class="col-md-6">
	        	<div class="text-white">
		        	<!-- <ul class="nav nav-social">
					  <li class="nav-item">
					    <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i></a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#"><i class="fab fa-google-plus-square"></i></a>
					  </li>
					</ul> -->
                    <div class="copyright">
	        		Copyright &copy; MEO CENTRAL 2018 By <a target="_blank" href="http://glitrabd.net">Glitra BD Ltd.</a>
	        		</div>
	        	</div>
	        </div>
	        <!-- <div class="col-md-6">
	        	<ul class="nav nav-right">
				  <li class="nav-item">
				    <a class="nav-link" href="#">WE ARE</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">MISSION</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">VISSION</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">NEWS</a>
				  </li>
				</ul>
	        </div> -->
	    </div>    
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
